*{
    padding: 0;
    margin: 0;
}
nav{
    position: sticky;
    top: 0;
    z-index: 3;
    margin-bottom: 6vw;
}
.ham_img{
    width: 2vw;
    height: 25px;
}
.im{
    width: 4.2vw;
    height: 30px;

}
/* .ioc_icon{
    width: 0.2%;
    height: 0.2%;
} */
.logo_name{
    font-weight: bolder;
    font-size: 1.3rem;
    color: white;

}
.sign_up_but{
    height: 40px;
    background-color: rgb(0, 102, 167);
    border: 0;
    cursor: pointer;

}
.main_nav{
    display: flex;
}
.dom_logo{
    display: flex;
    
}
.add{
    color: white;
    padding-left: 1.3rem;
    position: relative;
    bottom: 15%;
}
#del{
    /* margin-top: 0.3rem; */
    margin-right: 0.3rem;
    font-size: 0.8rem;
}
#din{
    /* margin-top: 0.3rem; */
    margin-right: 0.3rem;
    margin-left: 1.3rem;
    font-size: 0.8rem;
}
.main_nav{
    /* height: 7vh; */
    background-color: rgb(0, 102, 167);
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.8rem;
    box-sizing: border-box;
    
}
.address_dets{
    height:40px;
    background-color: rgb(0, 88, 153);
    border: 0;
    cursor: pointer;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    padding: 0 1rem;
}
.ham_button{
    background-color: rgb(0, 102, 167);
    border: 0;
    cursor: pointer;
    margin: 0px 2.6rem;
    
    
}
.t{
    color: white;
    font-size: 0.8rem;
}
.u{
    color:rgb(85, 204, 246);
    font-size: 0.6rem;
    text-align: left;
}
label{
    color: rgb(85, 204, 246);
}
.dels:checked + label{
    color: white;
}
.left_part{
    display: flex;
}
.right_part{
    display: flex;
    padding-right: 2.6rem;
    padding-left: 1.3rem;
    align-items: center;
    border-left: 1px solid rgb(85, 204, 246) ;
}
.opts{
    list-style: none;

}

.opts span{
    position: relative;
    bottom: 0.7rem;
    padding-left: 2rem;
}
.opts{
    /* padding-left: 1.5rem; */
    position: relative;
    /* width: 118%; */
}
.side_men_buts{
    background-color: white;
    border: 0;
    font-size: 1.05vw;
    margin-left: 1.5rem;   
    margin-top: 1.5rem;
    cursor: pointer;
}
ul{
    position: absolute;
    top: 4rem;
}
/* .side_menu{
    width: 23%;
    height: 92.3vh;
    border: 3px solid rgb(65, 53, 53);
} */
.side_men_buts:hover{
    color: red;
}
.category_nav ul li{
    list-style: none;
}
.cat_list{
    display: flex;
    padding-left: 6.5rem;   
}
.category_nav{
    width: 100vw;
    height: 45px;
    box-shadow: 5px 5px 5px rgb(210 221 233);
    background-color:white;
    
}
.cats_buts{
    background-color: white;
    padding-bottom: 8.3px;
    border: 0;
    cursor: pointer;
    margin: 1.3rem;
    font-size: 0.75vw;
    font-weight: bold;
    color: rgb(180, 191, 196);
}
.sel_cats_buts{
    background-color: white;
    padding-bottom: 8.3px;
    border: 0;
    cursor: pointer;
    margin: 1.3rem;
    border-bottom: 5px solid rgb(101, 171, 11);
    font-size: 0.75vw;
    font-weight: bold;
    color: rgb(180, 191, 196);
}